@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 25px;
  background: 
      linear-gradient(180deg, #d8d4ca 0%, 
      rgba(217, 217, 217, 0) 100%);

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__menu-list {
    display: flex;
    gap: 0 40px;
    padding-top: 25px;

    &--left {
      padding-left: 25px;
    }

    &--right {
      padding-right: 80px;
    }
  }

  &__menu-link {
    font-size: 16px;
    color: #363636;
  }
}

.promo {
  position: relative;
  background-image: url(../images/promo.jpg);
  background-color: darkgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  

  &__inner {
    min-height: 100vh;
    text-align: center;
  }

  &__title {
    padding-top: 100px;
    padding-bottom: 10px;
    @extend %fontImpact;
    font-size: 76px;
    letter-spacing: .02em;
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    @extend %fontImpact;
    font-size: 48px;
    border-bottom: 1px solid #040404;

    span {
      display: block;
      color: #9f6b08;
      font-size: 34px;
      line-height: 1;
      padding-top: 10px;
    }
  }

  &__link {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__text {
    font-size: 16px;
    line-height: normal;
    color: #363636;
  }
}

.info {
  margin-bottom: 100px;
  
  &__part {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;

    &-title {
      margin-bottom: 30px;
      @extend %title-font;
    }
    
    &-textbox {
      display: flex;
      justify-content: space-between;
      gap: 0 20px;
    }

    &-img {
      object-fit: cover;
    }
  }

  &__part--first {
    display: block;
  }

  &__content {
    flex-basis: 415px;
  }

  &__part--second &__text {
    max-width: 352px;
  }

  &__part--third {
    padding-top: 60px;
  }

  &__part--third &__text {
    max-width: 377px;
  }

  

  &__text {
    margin-bottom: 30px;
    font-size: 14px;
    flex-basis: 440px;
  }

  &__table {
    flex-basis: 450px;
    padding-top: 15px;
    border-bottom: 1px solid #040404;
    border-top: 1px solid #040404;
    

    td {
      padding-bottom: 20px;
    }
    
  }
}

.track {
  padding-top: 50px;
  padding-bottom: 90px;
  min-height: 890px;
  background-color: #fff;
  background-image: url(../images/track-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & .info__part-title, & .info__text {
    max-width: 434px;
  }

  &__img {
    max-width: 743px;
    margin-left: 153px;
    margin-top: 250px;
  }
}

.evo {
  padding-bottom: 100px;
  
  &-black {
    padding: 100px 0 50px;
    background-color: #363636;
    color: #FFF;

    &__inner {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-image: url(../images/evo-hexagon1.svg);
        background-repeat: no-repeat;
        top: 217px;
        left:0;
        transform: translateX(-80%);
        width: 185px;
        height: 213px;
      }

      &::after {
        content: '';
        position: absolute;
        background-image: url(../images/evo-hexagon2.svg);
        background-repeat: no-repeat;
        top: 298px;
        left: -37px;
        width: 498px;
        height: 572px;
      }


    }

    &__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 170px;
    }

    &__title {
      font-size: 32px;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
      flex-basis: 48%;
    }
    
    &__text {
      margin-bottom: 30px;
    }

    &__box {
      flex-basis: 50%;
    }

    &__img {
      position: relative;
      z-index: 2;
      display: block;
      max-width: 725px;
      margin: 0 auto 60px 80px;
    }

    &__descr-list {
      display: flex;
      justify-content: center;
      gap: 0 65px;

      
    }
  }

  &-white {
    padding-top: 126px;

    &__inner {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-image: url(../images/evo-hexagon3.png);
        background-repeat: no-repeat;
        top: -150px;
        left: 50%;
        width: 274px;
        height: 257px;
      }
      &::after {
        content: '';
        position: absolute;
        background-image: url(../images/evo-hexagon4.png);
        background-repeat: no-repeat;
        top: 0;
        left: 75%;
        width: 324px;
        height: 311px;
      }
    }

    &__text {
      margin-bottom: 30px;
      max-width: 590px;
    }
    
    &__text:first-child {
      max-width: 285px;
    }
    &__text:nth-child(2) {
      max-width: 437px;
    }
    
    &__video {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      background-image: url(../images/evo-video.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 264px;

      &-link {
        color: #fff;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}

.blog {

  &__title {
    font-size: 32px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__slider {
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;

    &-button {
      position: absolute;
      top: 0;
      left: 50%;
      cursor: pointer;
    }

    .swiper-button-prev {
      transform: translateX(-41px);
    }

    .swiper-button-next {
      transform: translateX(-3px);
    } 

  }

  &__item {

    &-img {
      margin-bottom: 20px;
    }

    &-title {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 10px;
      min-height: 46px;
    }

    &-text {
      margin-bottom: 10px;
    }

    &-link {
      font-size: 12px;
      color: #363636;
    }
  }

  &__quote {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    

    &-item {
      flex-basis: 434px;
      margin-bottom: 30px;
    }

    &-name {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;

      span {
        display: block;
        color: #9F6B08;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        padding-bottom: 3px;
      }
    }

    &-text {
      padding-top: 10px;
      font-style: italic;
    }

    &-img {
      max-width: 380px;
      width: 380px;
    }
  }
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #363636;
  color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 0 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__info {
    
    &-item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      dt {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
      }

      dd {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    
  }

  &__address {
    flex-basis: 454px;

    &-title {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 700;
    }
    &-text {
      margin-bottom: 20px;
      font-style: normal;
      font-size: 15px;
      
    }
  }
}
.social-list {
  display: flex;
  gap: 0 20px;
  align-items: center;
}

#map {
  
  
  iframe {
    height: 250px;
    width: 450px;
  }
}